# macOS system files
.DS_Store

# macOS Finder Custom Folder Icon
Icon?

# Website Snapshots
data/wayback/snapshots/

# Large Files
snapshot_texts*
bertopic_model
topic_over_time.csv
topics.csv

# Others
__pycache__/